@model GolfTrack.Models.CourseDetail

@{
    ViewBag.Title = "Details";
}


    <h2>Course Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Holes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Holes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeOfCourse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfCourse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Par)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Par)
            </dd>

        </dl>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h4>@Html.DisplayNameFor(model => model.AverageRating)</h4>
                    @Html.DisplayFor(model => model.AverageRating)
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h4>@Html.DisplayNameFor(model => model.AverageScore)</h4>
                    @Html.DisplayFor(model => model.AverageScore)
                </div>
            </div>
        </div>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
        @Html.ActionLink("Holes", "../Hole/CourseDetails", new { id = Model.CourseId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
