@model IEnumerable<GolfTrack.Models.HoleDetail>

@{
    ViewBag.Title = "CourseDetails";
}

<h2>CourseDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Par)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Par)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.HoleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.HoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.HoleId })
        </td>
    </tr>
}

</table>
