@model GolfTrack.Models.HoleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Par)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Par)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
